@model MvcArtify.Models.User

@{
    var isAuthenticated = User.Identity.IsAuthenticated;
    var userId = isAuthenticated ? Model.UId : -1; // Replace with logic to get the user's ID
}

@if (isAuthenticated)
{
    <div class="text-right">
        <a href="@Url.Action("Profile", "UserProfile", new { id = userId })" class="btn btn-primary">View User Profile</a>
    </div>
}

