@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Set your desired layout
}

<div class="text-center">
    <h1 class="display-4">Welcome to Artify</h1>
    <p>Explore and discover amazing artworks.</p>

    <!-- Search Bar -->
    <form asp-controller="Artwork" asp-action="ArtworkList" method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchQuery" placeholder="Search for artworks...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <p><a href="@Url.Action("ArtworkList", "Artwork")">View Artwork List</a></p>

    <!-- User Profile Link -->
    <p><a href="@Url.Action("Profile", "UserProfile")">View User Profile</a></p>
</div>
